$white1: #CFCFC2;
$white2: #b4b09c;

$dark1: #272822;
$dark2: #3e3d32;
$dark3: #75715e;
$dark4: #6e6849;

$yellow:  #e6db74;
$orange:  #fd971f;
$red:     #f92672;
$magenta: #fd5ff0;
$violet:  #ae81ff;
$blue:    #66d9ef;
$cyan:    #a1efe4;
$green:   #a6e22e;

$black0: #0A0E14;

$white0: #FFFFFF;

$gray0: #626A73;

$darkBlue0: #0A0E14;
$darkBlue1: #4D5566;

$blue0: #39bae6;

$orange0: #ff8f40;
$orange1: #e6b450;

