$white0: #F8F8F2;
$white1: #CFCFC2;
$white2: #b4b09c;

$dark1: #272822;
$dark2: #3e3d32;
$dark3: #75715e;
$dark4: #6e6849;

$yellow:  #e6db74;
$orange:  #fd971f;
$red:     #f92672;
$magenta: #fd5ff0;
$violet:  #ae81ff;
$blue:    #66d9ef;
$cyan:    #a1efe4;
$green:   #a6e22e;